*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'consolas';
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background: rgb(23, 45, 68);
    cursor: none;
}
h2{
    font-size: 8rem;
    color: rgba(0,0,0,0.25);
}
.soap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(335deg);
    z-index: 2;
    pointer-events: none;
    transition: 0.1s;
}
body:hover .soap{
    transform: translate(-50%, -50%) scale(0.5) rotate(335deg);
}
i{
    position: absolute;
    height: 40px;
    width: 40px;
    background: transparent;
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    animation: animate 2s ease-in forwards;
}
i::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;   
    border-radius: 50%;
    background: radial-gradient(#fff, transparent);
    transform: scale(0.25) translate(-70%, -70%);
}
@keyframes animate{
   0%{
    transform: translate(0,0);
   } 
   100%{
    transform: translate(var(--x),var(--y));
   }
}